.deveco/**
.vscode/**
test/**
tools/**

# application/**
# bootloader/**
# build/**
# drivers/**
# include/**
# interim_binary/**
kernel/**
middleware/**
open_source/**
output/**
protocol/**
vendor/**
