#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2022-2022. All rights reserved.
#===============================================================================
config UART_DLF_SIZE
    int
    prompt "UART_DLF_SIZE"
    range 4 6
    default 4
    depends on DRIVER_SUPPORT_UART

config UART_USING_V120
    bool
    prompt "Using UART V120"
    default y
    depends on DRIVER_SUPPORT_UART

config UART_USING_V151
    bool
    prompt "Using UART V151"
    default y
    depends on DRIVER_SUPPORT_UART

config UART_USING_V100
    bool
    prompt "Using UART V100"
    default n
    depends on DRIVER_SUPPORT_UART

config UART_BAUDSET_WAITTIMES_LIMIT
    int
    prompt "the wait loop times when change baudrate for uartv100"
    default 1000
    depends on UART_USING_V100